<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{instrument.name}}</title>
    {% bootstrap_css %}
     {% bootstrap_javascript jquery='full' %}
    <style>
        .text{
          padding-top: 50px;
          padding-right: 200px;
          padding-bottom: 50px;
          padding-left: 200px;

                    }
    </style>
</head>
<body>
    <center>
        <h1>{{instrument.name}}</h1>
        <iframe width="600" height="400" src={{src}}>
        </iframe>
    <div class="jumbotron">
        <div class="text">
            <p  class="lead" >{{instrument.description}}</p>
        </div>

    </div>

    </center>


</body>
</html>